<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
    {{ goodone.title }}
    {{ goodone.price }}
    {{ goodone.desc }}
    {{ goodone.unit }}
    <img src="{% static goodone.picture %}">

    <a href="{{ goodone.get_adcart_url }}">加入购物车1</a>
    <a onclick="addcart({{ goodone.id }})">加入购物车2</a>
    <script type="text/javascript" src="{% static 'js/jquery-1.11.3.js' %}"></script>
    <script>
        function addcart(goodid) {
            $.ajax(
                {
                    url:'/cartinfo/addcart/',
                    type:'get',
                    datatype:'json',
                    data:{
                        'goodid':goodid,
                        'goodcount':1,
                    },
                    success:function (data) {
                        location.href="{% url 'cart' %}";
                    },
                    error:function (error) {
                        console.log(error);
                    }
                }
            )
        }
    </script>

</body>
</html>