{% load static %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>天天果园主页-1</title>
    </head>

	<link rel='stylesheet' href="{% static 'css/天天果园主页-1.css' %}">


    <body>
		<div id='d'>
			<!--礼品卡卷-->
			<div class='item'>
				<!--上：标题   更多-->
				<p class='title'>
					<a href='#'>更多&gt;</a>
					<!--
					<img src='images/t4.png'>
				-->
					<img src="">

				</p>
				
				<div class='list'>
					<!--内容1-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/1.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>欢乐时光水果礼篮</p>
							<!--价格:块级元素-->
							<div>
								&yen;188.00/1份
							</div>
						</div>
					</div>
					<!--内容2-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/2.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>真心祝福水果礼篮</p>
							<!--价格:块级元素-->
							<div>
								&yen;358.00/礼篮
							</div>
						</div>
					</div>
					<!--内容3-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/3.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>深情厚意水果礼篮</p>
							<!--价格:块级元素-->
							<div>
								&yen;580.00/1盒
							</div>
						</div>
					</div>
					<!--内容4-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/4.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>天天果园500元充值卡</p>
							<!--价格:块级元素-->
							<div>
								&yen;500.00/1张
							</div>
						</div>
					</div>
					<!--内容5-->
					<div class='no-margin'>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/5.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>天天果园100元充值卡</p>
							<!--价格:块级元素-->
							<div>
								&yen;100.00/1张
							</div>
						</div>
					</div>
					<!--内容6-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/6.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>关怀备至礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;198.00/1盒
							</div>
						</div>
					</div>
					<!--内容7-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/7.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>万事如意礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;198.00/1盒
							</div>
						</div>
					</div>
					<!--内容8-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/8.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>与众不同礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;288.00/1盒
							</div>
						</div>
					</div>
					<!--内容9-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/9.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>团聚礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;168.00/1盒
							</div>
						</div>
					</div>
					<!--内容10-->
					<div class='no-margin'>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/10.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>诚心诚意礼盒提货卷</p>
							<!--价格:块级元素-->
							<div>
								&yen;178.00/1张
							</div>
						</div>
					</div>	
				</div>
				
				<!--消除浮动对父元素高度的影响-->
				<p class='p1'></p>	
			</div>
			
			<!--家庭量贩-->
			<div class='item'>
				<!--上：标题   更多-->
				<p class='title'>
					<a href='#'>更多&gt;</a>
					<img src='images/t4.png'>
				</p>
				
				<div class='list'>
					<!--内容1-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/1.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>欢乐时光水果礼篮</p>
							<!--价格:块级元素-->
							<div>
								&yen;188.00/1份
							</div>
						</div>
					</div>
					<!--内容2-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/2.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>真心祝福水果礼篮</p>
							<!--价格:块级元素-->
							<div>
								&yen;358.00/礼篮
							</div>
						</div>
					</div>
					<!--内容3-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/3.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>深情厚意水果礼篮</p>
							<!--价格:块级元素-->
							<div>
								&yen;580.00/1盒
							</div>
						</div>
					</div>
					<!--内容4-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/4.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>天天果园500元充值卡</p>
							<!--价格:块级元素-->
							<div>
								&yen;500.00/1张
							</div>
						</div>
					</div>
					<!--内容5-->
					<div class='no-margin'>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/5.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>天天果园100元充值卡</p>
							<!--价格:块级元素-->
							<div>
								&yen;100.00/1张
							</div>
						</div>
					</div>
					<!--内容6-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/6.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>关怀备至礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;198.00/1盒
							</div>
						</div>
					</div>
					<!--内容7-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/7.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>万事如意礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;198.00/1盒
							</div>
						</div>
					</div>
					<!--内容8-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/8.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>与众不同礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;288.00/1盒
							</div>
						</div>
					</div>
					<!--内容9-->
					<div>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/9.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>团聚礼盒</p>
							<!--价格:块级元素-->
							<div>
								&yen;168.00/1盒
							</div>
						</div>
					</div>
					<!--内容10-->
					<div class='no-margin'>
						<!--上：图-->
						<p>
							<a href='#'>
								<img src='images/10.jpg'>
							</a>
						</p>
						
						<!--下：产品名称，价格，购物车-->
						<div class='content'>
							<!--购物车：右浮动-->
							<a href="#" class='cart'>
								<img src='images/cart.png'>
							</a>
							<!--标题：块级元素-->
							<p>诚心诚意礼盒提货卷</p>
							<!--价格:块级元素-->
							<div>
								&yen;178.00/1张
							</div>
						</div>
					</div>
				</div>
			
				<!--消除浮动对父元素高度的影响-->
				<p class='p1'></p>
			</div>
			
		</div>
    </body>
</html>
